# Credenciales para el envio de correos
smtp.user=tu_correo@gmail.com
smtp.pass=tu_contraseña_o_token

# Credenciales de Base de Datos Oracle
db.user=ADMIN
db.pass=tu_contraseña
db.name=tu_nombre_de_base_de_datos_high